# TMDB API Key
# 발급처: https://www.themoviedb.org/settings/api
TMDB_API_KEY=2fa914ab1aea0e520bff8f8b50c2d92c
# .env.local
NEXTAUTH_SECRET=gkunBVLEjUJM0ZhpqtTB5rNb4uKdXbdrVQKDD1p5GdM=
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=1234
# PostgreSQL Database URL
DATABASE_URL=postgresql://postgres:1234@localhost:5432/movie_app